<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>企業・ビジネス向け シンプル無料ホームページテンプレート tp_biz61</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="SAMPLE COMPANY"></a></h1>
	<!--開閉ブロック-->
	<div id="menubar">
	<nav>
	<ul>
	<li><a href="index.html">HOME</a></li>
	<li><a href="company.html">COMPANY</a></li>
	<li><a href="">WORKS</a>
		<ul>
		<li><a href="works.html">WORKS.WORKS.</a></li>
		<li><a href="works.html">WORKS</a></li>
		<li><a href="works.html">WORKS</a></li>
		</ul>
	</li>
	<li class="current"><a href="contact.html">CONTACT</a></li>
	</ul>
	</nav>
	</div>
	<!--/#menubar-->
</header>

<div id="contents">

<main>

<section>

<h2><span class="uline">送信完了</span></h2>
<p>送信が完了しました。</p>

</section>

</main>

</div>
<!--/#contents-->

<ul id="footermenu">
<li><a href="index.html">ホーム</a></li>
<li><a href="company.html">会社概要</a></li>
<li><a href="works.html">業務内容</a></li>
<li><a href="contact.html">コンタクト</a></li>
</ul>

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>
