.add_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.pic_block{
    margin-right: 25px;
    margin-left: 25px;
}

.link_txt{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.circle_pic{
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.category_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.image_container {
    width: 148px;
    height: 100px; /* 画像の最大の高さに合わせる */
    display: flex;
    align-items: center;
    justify-content: center;
}

.vegitable_pic{
    width: 96px;
    height: auto;
}
.meat_pic{
    width: 148px;
    height: auto;
    margin-bottom: 12px;
}
.fish_pic{
    width: 139px;
    height: auto;
}
.seasoning_pic{
    width: 101px;
    height: auto;
}
.cheese_pic{
    width: 84.5px;
    height: auto;
}
.freeze_pic{
    width: 81px;
    height: auto;
}
.list_pic{
    width: 120px;
    height: auto;
}

.foods_container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.item1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.item_set{
    margin-left: 30px;
    margin-right: 30px;
}

.circle-container {
    position: relative;
    width: 156px;  /* 円の幅 */
    height: 156px; /* 円の高さ */
  }
.circle {
    width: 156px;
    height: 156px;
    border-radius: 50%;
    position: absolute;
}
.item_name{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 中央に配置 */
    width: 138px;
    height: 138px;
  }

.button1{
    width: 255px;
    height: auto;
    opacity: 0.85; /* 半透明度を設定 */
    z-index: 3;
}


.circle-container {
    position: relative; /* 親要素を相対位置に設定 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 親要素（.circle-container）と同じ幅 */
    height: 100%; /* 親要素（.circle-container）と同じ高さ */
    z-index: 10; /* オーバーレイを前面に表示 */
    opacity: 0.5; /* 半透明度を設定 */
    display: none; /* 初期状態では非表示 */
}

.circle-container {
    position: relative;
}



.date-circle {
    position: absolute;
    bottom: 0; /* 位置を下端に設定 */
    left: 0; /* 位置を左端に設定 */
    z-index: 2; /* 大枠の円より前面に表示 */
    /* 日にちの円のスタイルを追加 */
    width: 50px; /* 日にちの円のサイズ */
    height: 50px; /* 日にちの円のサイズ */
    border-radius: 50%; /* 円形にする */
    color: white; /* テキスト色 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* テキストサイズ */
}

.edit-circle {
    position: absolute;
    top: 0; /* 位置を下端に設定 */
    right: 0; /* 位置を左端に設定 */
    z-index: 3; /* 大枠の円より前面に表示 */
    /* 日にちの円のスタイルを追加 */
    width: 50px; /* 日にちの円のサイズ */
    height: 50px; /* 日にちの円のサイズ */
    border-radius: 50%; /* 円形にする */
    color: rgb(6, 6, 6); /* テキスト色 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* テキストサイズ */
}
.in_circle {
    position: absolute;
    z-index: 10; /* 大枠の円より前面に表示 */
    background-color: #ffffff;
    /* 日にちの円のスタイルを追加 */
    width: 45px; /* 日にちの円のサイズ */
    height: 45px; /* 日にちの円のサイズ */
    border-radius: 50%; /* 円形にする */
    color: white; /* テキスト色 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* テキストサイズ */
}

.foods_container2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 82.5%;
}
.select_show_space{
    margin-top: 40px;
    width: 17.5%;
}
.select_show_block{
    bottom: 0; /* 位置を下端に設定 */
    height: 681px;
    width: 180px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.234);
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 5.3%;   /* 右からの距離 */
    bottom: 1.8%;  /* 下からの距離 */
    border-radius: 30px;
    border: 4px solid #000000;
    
}
.show_space{
    position: relative;
    margin-top: 20px;
    height: 580px;
    width: 160px;
    display: flex; /* Flexboxコンテナとして設定 */
    flex-direction: column;

    align-items: center; /* 垂直方向の中心に配置 */
}
.select_food{
    display: flex;
    flex-wrap: wrap;
}

.select_show_image{
    position: static;
    transform: none;
    margin-left: 25px;
    width: 70%; /* 画像の幅を100pxに設定 */
    height: auto;
}
.select_show_name{
    text-align: center;
}
.select_botton{
    background-color: #f79156e5;
    width: 153px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    justify-content: center; /* 水平方向の中心に配置 */
    align-items: center; /* 垂直方向の中心に配置 */
    margin-left: 10px;
}
#select_show {
    max-height: 580px; /* 表示領域の最大高さを設定 */
    overflow-y: auto; /* 内容が最大高さを超えたら縦スクロールを表示 */
  }
.button1{
    background-color: #f79156e5;
    width: 153px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    justify-content: center; /* 水平方向の中心に配置 */
    align-items: center; /* 垂直方向の中心に配置 */
    cursor: pointer;
}
.button1 div{
    text-align: center;
    font-size: 20px;
    margin-top: 6px;
    font-weight: bold;
}
#fixed-button {
    position: fixed;
    right: 20px;   /* 右からの距離 */
    bottom: 20px;  /* 下からの距離 */
}
#edit-button {
    position: fixed;
    right: 20px;   /* 右からの距離 */
    bottom: 90px;  /* 下からの距離 */
}
.select_botton{
    font-size: 20px;
}
#fixed-button2 {
    position: fixed;
    right: 20px;   /* 右からの距離 */
    bottom: 20px;  /* 下からの距離 */
}
#edit-button2 {
    position: fixed;
    right: 20px;   /* 右からの距離 */
    bottom: 90px;  /* 下からの距離 */
}
.recipe-card {
	max-width: 300px;
	margin: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
	overflow: hidden;
  }
  
  .recipe-image {
	width: 100%;
	height: auto;
	display: block;
  }
  
  .recipe-content {
	padding: 15px;
  }
  
  .recipe-title {
	margin: 0;
	color: #333;
	font-size: 18px;
	font-weight: bold;
  }
  
  .recipe-description {
	font-size: 14px;
	color: #666;
	line-height: 1.4;
  }
  

  .recipe_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    flex-basis: calc(33.333% - 20px); /* 3つのカードが一行に収まるように */
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: 354px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .recipe-card {
        flex-basis: calc(50% - 20px); /* 画面が狭い時は2列に */
    }
}

@media (max-width: 480px) {
    .recipe-card {
        flex-basis: 100%; /* 画面がさらに狭い時は1列に */
    }
}

.recipe-image{ 
	width: 298px;
	height: 199px;
}

.button-style {
    border: none;
    background: none;
    outline: none;
  }
  
  .button-style:focus {
    outline: none;
  }

  .button-style:active {
    background: none;
  }

  /* モーダルウィンドウのスタイル */
.modal {
    display: none; /* デフォルトでは非表示 */
    position: fixed; /* 画面の固定位置に配置 */
    z-index: 100; /* 他の要素より前面に表示 */
    left: 0;
    top: 0;
    width: 100%; /* 全幅 */
    height: 100%; /* 全高 */
    overflow: auto; /* スクロールバーが必要な場合に表示 */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.4); /* 黒色の背景に透明度を設定 */
}

/* モーダルコンテンツ */
.modal-content {
    background-color: #fefefe;
    margin: 2.5% auto; /* 上下左右で自動的に中央配置 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 幅は80% */
    height: 90%;
}

/* 閉じるボタン */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5%;    /* 上端からの距離 */
    right: 12%;  /* 右端からの距離 */
    cursor: pointer; /* クリック可能な要素であることを示す */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content {
    text-align: center; /* テキストを中央揃えにする */
  }
  
  video, canvas {
    margin: 0 auto; /* 自動的に左右のマージンを計算して中央揃えにする */
    display: block; /* ブロック要素として表示 */
  }
  
  button {
    display: block; /* ブロック要素として表示 */
    margin: 20px auto; /* 上下のマージンを指定し、左右のマージンは自動的に計算して中央揃えにする */
  }

  .button_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button_block button {
    display: block; /* ブロック要素として表示 */
    margin: 20px; 
  }

.mode_change button{
    display: block; /* ブロック要素として表示 */
    margin: 5px; 
}

.modal-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mode_change{
    height: auto;
}


.item_show_block {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 20%;
    height: 90%;
    overflow-y: auto; /* 垂直方向のスクロールを有効にする */
    /* 必要に応じてスタイルを適用 */
}

.ingredient-item {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    height: 250px;
}

#calendar {
    display: none;
}

.edit_start {
    position: absolute;
    top: 190px;  /* 親要素の上端からの距離 */
    left: 160px; /* 親要素の左端からの距離 */
    width: 17px; 
    height: 17px;
    border: none; /* ボタンの境界線を削除 */
    background: none; /* ボタンの背景を透明に */
    padding: 0; /* パディングを削除 */
    cursor: pointer; /* マウスカーソルをポインターに変更 */
    overflow: hidden; /* 画像がボタンの外にはみ出さないように */
    z-index: 1000;
}

.fixed-position-image {
    width: 100%; /* ボタンのサイズに合わせて調整 */
    height: 100%; /* ボタンのサイズに合わせて調整 */
}
