.nutrition{
    width: 90%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.calorie_container {
    width: 600px;
    height: 300px;
    display: flex;
    border: 1px solid rgba(71, 71, 71, 0.338); /* 2pxの太さ、実線、黒色の枠線 */
    border-radius: 40px;
    position: relative;
}

.calorie_pic{
    margin-top: 10px;
    margin-left: 20px;
    width: 13%;
    height: 17%;
}

.calorie_font {
    margin-top: 2px !important; /* 上下左右のマージンを0に設定 */
    font-size: 35px !important; /* フォントサイズを継承する */
    padding: 0 !important; /* パディングを0に設定 */
    border-bottom: none !important; /* 下線を非表示にする */
    font-weight: inherit !important; /* フォントの太さを継承する */
}

.nomar_fire{
    position: absolute;
    top: 64px;
    left: 40px;
    font-size: 20px;
}

.nomar_fire h4 {
    margin-block-start: 0; /* 上マージンを0に */
    margin-block-end: 0; /* 下マージンを0に */
    margin-inline-start: 0; /* 左マージンを0に */
    margin-inline-end: 0; /* 右マージンを0に */
}

.value{
    margin-left: 50px;
}

.value2{
    margin-left: 62px;
}

.nomar_fire2{
    position: absolute;
    top: 136px;
    left: 40px;
    font-size: 20px;
}

.nomar_fire2 h4 {
    margin-block-start: 0; /* 上マージンを0に */
    margin-block-end: 0; /* 下マージンを0に */
    margin-inline-start: 0; /* 左マージンを0に */
    margin-inline-end: 0; /* 右マージンを0に */
}

#gaugeCanvas{
    margin-left: 30px;
    margin-top: 15px;
}

.samry_container{
    display: flex;
    flex-wrap: wrap;
}

.three_container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(71, 71, 71, 0.338); /* 2pxの太さ、実線、黒色の枠線 */
    border-radius: 40px;
    position: relative;
    margin-left: 50px;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: blue;
    position: relative;
    top: 26px;
    left: 26px;
}

.protain_font{
    margin-top: 2px !important; /* 上下左右のマージンを0に設定 */
    font-size: 35px !important; /* フォントサイズを継承する */
    padding: 0 !important; /* パディングを0に設定 */
    border-bottom: none !important; /* 下線を非表示にする */
    font-weight: inherit !important; /* フォントの太さを継承する */
    position: relative;
    top: 0px;
    left: 40px;
}

#gaugeCanvas2{
    width: 550px;
    height: 50px;
    position: relative;
    left: 30px;
    top: -35px;
}

#gaugeCanvas3{
    width: 550px;
    height: 50px;
    position: relative;
    left: 30px;
    top: -35px;
}

#gaugeCanvas4{
    width: 550px;
    height: 50px;
    position: relative;
    left: 30px;
    top: -35px;
}

.circle2{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: rgb(233, 38, 71);
    position: relative;
    top: 26px;
    left: 26px;
}

.circle3{
    width: 20px;
    height: 20px;
    border-radius: 40px;
    background-color: rgb(230, 233, 38);
    position: relative;
    top: 26px;
    left: 26px;
}

.lipid_font{
    margin-top: 2px !important; /* 上下左右のマージンを0に設定 */
    font-size: 35px !important; /* フォントサイズを継承する */
    padding: 0 !important; /* パディングを0に設定 */
    border-bottom: none !important; /* 下線を非表示にする */
    font-weight: inherit !important; /* フォントの太さを継承する */
    position: relative;
    left: 40px;
}

.item1{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 100px;
}

.item2{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 100px;
    top: 101px;
}

.item3{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    height: 100px;
    top: 201px;
}