version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    ports:
      - "5001:5001"
    command: sleep infinity
    # command: ["python", "run.py"]
