<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>企業・ビジネス向け シンプル無料ホームページテンプレート tp_biz61</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/foods_style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}" defer></script>
</head>

<body>

<div id="container">

	<header>
		<h1 id="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/top.png') }}" class ="top_pic" alt="SAMPLE COMPANY"></a></h1>
			<!--開閉ブロック-->
			<div id="menubar">
			<nav>
			<ul>
			<li class="current"><a href="index.html">HOME</a></li>
			<li><a href="{{ url_for('foods') }}">FOODS</a></li>
			<li><a href="">HELTH</a>
				<ul>
				<li><a href="works.html">HELTH.WORKS.</a></li>
				<li><a href="works.html">WORKS</a></li>
				<li><a href="works.html">WORKS</a></li>
				</ul>
			</li>
			<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
			</ul>
			</nav>
			</div>
			<!--/#menubar-->
		</header>

<div id="contents">

<main>

<section>
	<div class="add" id="display0">
		<h2><span class="uline">食材追加</span></h2>
		<div class="add_block">
			<div class="pic_block">
				<img src="{{ url_for('static', filename='images/some_pic.png') }}" class="circle_pic">
				<p class="link_txt">一括撮影</p>
			</div>
			<div class="pic_block">
				<img src="{{ url_for('static', filename='images/personal_pic.png') }}" class="circle_pic">
				<p class="link_txt">単体撮影</p>
			</div>
			<div class="pic_block">
				<img src="{{ url_for('static', filename='images/memo_pic.png') }}" class="circle_pic">
				<p class="link_txt">手入力</p>
			</div>
		</div>
	</div>
	<div class="category" id="category_block1">
		<h2><span class="uline">カテゴリー</span></h2>
		<div class="category_block">
			<div class="category_icon">
				<div class="image_container">
					<a id="category1"><img src="{{ url_for('static', filename='images/vegetable.png') }}" class="vegitable_pic"></a>
				</div>
				<p class="link_txt">野菜</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<a id="category2"><img src="{{ url_for('static', filename='images/meat.png') }}" class="meat_pic"></a>
				</div>
				<p class="link_txt">肉</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/fish.png') }}" class="fish_pic">
				</div>
				<p class="link_txt">魚</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/seasoning.png') }}" class="seasoning_pic">
				</div>
				<p class="link_txt">調味料</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/cheese.png') }}" class="cheese_pic">
				</div>
				<p class="link_txt">乳製品</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/freeze.png') }}" class="freeze_pic">
				</div>
				<p class="link_txt">冷凍食品</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/list.png') }}" class="list_pic">
				</div>
				<p class="link_txt">一覧</p>
			</div>
		</div>
		<h2><span></span></h2>
	</div>
	<!--選択画面ようのカテゴリー選択タグ-->
	<div class="category" id="category_block2" style="display: none;">
		<h2><span class="uline">カテゴリー</span></h2>
		<div class="category_block">
			<div class="category_icon">
				<div class="image_container">
					<a id="category1_2"><img src="{{ url_for('static', filename='images/vegetable.png') }}" class="vegitable_pic"></a>
				</div>
				<p class="link_txt">野菜</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<a id="category2_2"><img src="{{ url_for('static', filename='images/meat.png') }}" class="meat_pic"></a>
				</div>
				<p class="link_txt">肉</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/fish.png') }}" class="fish_pic">
				</div>
				<p class="link_txt">魚</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/seasoning.png') }}" class="seasoning_pic">
				</div>
				<p class="link_txt">調味料</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/cheese.png') }}" class="cheese_pic">
				</div>
				<p class="link_txt">乳製品</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/freeze.png') }}" class="freeze_pic">
				</div>
				<p class="link_txt">冷凍食品</p>
			</div>
			<div class="category_icon">
				<div class="image_container">
					<img src="{{ url_for('static', filename='images/list.png') }}" class="list_pic">
				</div>
				<p class="link_txt">一覧</p>
			</div>
		</div>
		<h2><span></span></h2>
	</div>
	<div class="foods_list">
		<div class="search-container">
			<form action="/search" method="post">
				<input type="text" class="search-bar" name="query" placeholder="探している食材を入力" value="{{ query }}">
				<button type="submit" class="search-btn">Search</button>
			</form>
		</div>
	</div>
	<!--野菜カテゴリーの表示-->
	<div class="foods_container" id="display1">
		{% for item in items %}
			{% if item.category == 1 %}
				<div class="item1" data-expiry="{{ item.expiry }}" data-days-left="{{ item.days_left }}" data-is-present="{{ item.is_present }}">
					<div class="item_set">
						<div class="circle-container">
							<div class="circle"></div>
							<img src="{{ url_for('static', filename='images/ingredients/' + item.image_file) }}" alt="{{ item.name }}" class="image">
							<div class="date-circle">{{ item.days_left }}</div> 
						</div>
						<span class="item_name">{{ item.name }}</span>
						<!--<span>{{ item.expiry if item.expiry}}</span>-->
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<a><div id="edit-button" style="display: none;" class="button1"><div>編集</div></div></a>
		<a><div id="fixed-button" style="display: none;" class="button1"><div>レシピ</div></div></a>
	</div>
	<!--肉カテゴリーの表示-->
	<div class="foods_container" id="display1_2" style="display: none;">
		{% for item in items %}
			{% if item.category == 2 %}
				<div class="item1" data-expiry="{{ item.expiry }}" data-days-left="{{ item.days_left }}" data-is-present="{{ item.is_present }}">
					<div class="item_set">
						<div class="circle-container">
							<div class="circle"></div>
							<img src="{{ url_for('static', filename='images/ingredients/' + item.image_file) }}" alt="{{ item.name }}" class="image">
							<div class="date-circle">{{ item.days_left }}</div> 
						</div>
						<span class="item_name">{{ item.name }}</span>
						<!--<span>{{ item.expiry if item.expiry}}</span>-->
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<a><div id="edit-button2" style="display: none;" class="button1"><div>編集</div></div></a>
		<a><div id="fixed-button2" style="display: none;" class="button1"><div>レシピ</div></div></a>
	</div>
	<div class="select_food" id="display2" style="display: none;">
		<!--野菜選択画面-->
		<div class="foods_container2" id="vegitable_container">
			{% for item in items %}
				{% if item.category == 1 %}
					{% if item.is_present %}
						<div class="item" id="food_{{ item.id }}" data-expiry="{{ item.expiry }}" data-days-left="{{ item.days_left }}">
							<div class="item_set">
								<div class="circle-container">
									<div class="circle"></div>
									<img src="{{ url_for('static', filename='images/ingredients/' + item.image_file) }}" alt="{{ item.name }}" class="image">
								</div>
								<span class="item_name">{{ item.name }}</span>
								<span class="item_IngredientID" style="display: none;">{{ item.IngredientID }}</span> 
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<!--肉選択画面-->
		<div class="foods_container2" id="meat_container" style="display: none;">
			{% for item in items %}
				{% if item.category == 2 %}
					{% if item.is_present %}
						<div class="item" id="food_{{ item.id }}" data-expiry="{{ item.expiry }}" data-days-left="{{ item.days_left }}">
							<div class="item_set">
								<div class="circle-container">
									<div class="circle"></div>
									<img src="{{ url_for('static', filename='images/ingredients/' + item.image_file) }}" alt="{{ item.name }}" class="image">
								</div>
								<span class="item_name">{{ item.name }}</span>
								<span class="item_IngredientID" style="display: none;">{{ item.IngredientID }}</span> 
							</div>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
		<div class="select_show_space">
			<div class="select_show_block"id ="select_show1" >
				<div class="show_space" id ="select_show"></div>
				<button id="confirm" class="select_botton">作成</button>
			</div>
		</div>
	</div>
	<!--食材編集画面-->
	<div class="edit_food" id="display3" >
		<div class="foods_container" id="display1">
			{% for item in items %}
				{% if item.category == 1 %}
					<div class="item2" data-expiry="{{ item.expiry }}" data-days-left="{{ item.days_left }}" data-is-present="{{ item.is_present }}">
						<div class="item_set">
							<div class="circle-container">
								<div class="circle"></div>
								<img src="{{ url_for('static', filename='images/ingredients/' + item.image_file) }}" alt="{{ item.name }}" class="image">
								<div class="edit-circle"><div class="in_circle"></div></div> 
								<div class="date-circle">{{ item.days_left }}</div> 
							</div>
							<span class="item_name">{{ item.name }}</span>
							<!--<span>{{ item.expiry if item.expiry}}</span>-->
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<a><div id="edit-button" style="display: none;" class="button1"><div>完了</div></div></a>
		</div>
	</div>
</section>

<section>
	
</section>
<section class="recipe_section">
	<!-- カードがここに追加される -->
</section>


<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{{url_for('static' , filename='js/main.js') }}"></script>

<script>
	window.addEventListener('scroll', function() {
  var fixedButton = document.getElementById('fixed-button');
  var desiredHeight = 500; // この高さに達したら表示

  if (window.scrollY > desiredHeight) {
    fixedButton.style.display = 'block';
  } else {
    fixedButton.style.display = 'none';
  }
});
</script>
<script>
	window.addEventListener('scroll', function() {
  var fixedButton = document.getElementById('edit-button');
  var desiredHeight = 500; // この高さに達したら表示

  if (window.scrollY > desiredHeight) {
    fixedButton.style.display = 'block';
  } else {
    fixedButton.style.display = 'none';
  }
});
</script>
<script>
	window.addEventListener('scroll', function() {
  var fixedButton = document.getElementById('fixed-button2');
  var desiredHeight = 500; // この高さに達したら表示

  if (window.scrollY > desiredHeight) {
    fixedButton.style.display = 'block';
  } else {
    fixedButton.style.display = 'none';
  }
});
</script>
<script>
	window.addEventListener('scroll', function() {
  var fixedButton = document.getElementById('edit-button2');
  var desiredHeight = 500; // この高さに達したら表示

  if (window.scrollY > desiredHeight) {
    fixedButton.style.display = 'block';
  } else {
    fixedButton.style.display = 'none';
  }
});
</script>



<script>
	window.addEventListener('scroll', function() {
  var fixedButton = document.getElementById('head');
  var desiredHeight = 500; // この高さに達したら非表示

  if (window.scrollY > desiredHeight) {
    fixedButton.style.display = 'none';
  } else {
    fixedButton.style.display = '';
  }
});
</script>

<script>
	document.querySelectorAll('.item').forEach(item => {
    item.addEventListener('click', function() {
        this.classList.toggle('selected');
        var selectShowBlock = document.getElementById('select_show');
        var itemName = this.querySelector('.item_name').textContent;

        var circleContainer = this.querySelector('.circle-container');
        var overlay = circleContainer.querySelector('.overlay');
        if (!overlay) {
            overlay = document.createElement('img');
            overlay.src = '/static/images/選択済み.png';
            overlay.classList.add('overlay');
            circleContainer.appendChild(overlay);
        }

        overlay.style.display = this.classList.contains('selected') ? 'block' : 'none';

        var foodImage = this.querySelector('.image').cloneNode(true);
        foodImage.classList.add('select_show_image');

        var nameTag = document.createElement('div');
        nameTag.textContent = itemName;
        nameTag.classList.add('select_show_name');

        var itemContainer = document.createElement('div');
        itemContainer.classList.add('select_show_item_container');

        if (this.classList.contains('selected')) {
            itemContainer.appendChild(foodImage);
            itemContainer.appendChild(nameTag);
            selectShowBlock.appendChild(itemContainer);
        } else {
            var containers = selectShowBlock.getElementsByClassName('select_show_item_container');
            Array.from(containers).forEach(container => {
                if (container.querySelector('.select_show_image').src === foodImage.src) {
                    selectShowBlock.removeChild(container);
                }
            });
        }
    });
});

</script>


<script>
	document.getElementById('confirm').addEventListener('click', function() {
    console.log('Button clicked');
    var selectedItems = document.querySelectorAll('.item.selected');
    var selectedNames = Array.from(selectedItems).map(item => item.querySelector('.item_IngredientID').textContent);

    // 選択された食材の名前をサーバーに送信
    sendDataToServer(selectedNames);
});

function displayRecipes(recipes) {
    recipes.forEach(recipe => {
        const recipeHtml = `
            <a href="/recipe-details/${recipe.RecipeID}" class="recipe-link">
                <div class="recipe-card">
                    <img src="static/images/recipe/${recipe.ImageURL}" alt="${recipe.RecipeName}" class="recipe-image">
                    <div class="recipe-content">
                        <h2 class="recipe-title">${recipe.RecipeName}</h2>
                        <p class="recipe-description">${recipe.Description}</p>
                    </div>
                </div>
            </a>`;
        $('.recipe_section').append(recipeHtml);
    });
}

function sendDataToServer(data) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/path/to/server/endpoint', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({selectedItems: data}));

    xhr.onload = function() {
        if (xhr.status === 200) {
            console.log('サーバーへの送信が成功:', xhr.responseText);
            // レスポンスデータをJSON形式に変換し、displayRecipesに渡す
            const responseData = JSON.parse(xhr.responseText);
            displayRecipes(responseData);
        } else {
            console.log('サーバーへの送信に失敗:', xhr.status);
        }
    };
}

</script>
	

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var linkSection10 = document.getElementById('fixed-button');
		var linkSection20 = document.getElementById('move2');//戻るボタンに適用する

		var section10 = document.getElementById('display1');
		var section11 = document.getElementById('display0');
		var section12 = document.getElementById('category_block1');
		var section20 = document.getElementById('display2');
		var section21 = document.getElementById('category_block2');

		if(linkSection10 && section10 && section20) {
			linkSection10.addEventListener('click', function(event) {
				event.preventDefault(); 
				section10.style.display = 'none'; // 表示スタイルに応じて変更
				section11.style.display = 'none';
				section12.style.display = 'none';
				section20.style.display = '';
				section21.style.display = '';
			});
		}

		if(linkSection20 && section10 && section20) {
			linkSection20.addEventListener('click', function(event) {
			event.preventDefault();
			section10.style.display = '';
			section11.style.display = '';
			section12.style.display = '';
			section20.style.display = 'none';
			section21.style.display = 'none';
			});
		}
	});
 </script>
 <script>
	document.addEventListener('DOMContentLoaded', function() {
		var linkSection10 = document.getElementById('fixed-button2');
		var linkSection20 = document.getElementById('move2');//戻るボタンに適用する

		var section10 = document.getElementById('display1_2');
		var section11 = document.getElementById('display0');
		var section12 = document.getElementById('category_block1');
		var section13 = document.getElementById('vegitable_container');
		var section20 = document.getElementById('display2');
		var section21 = document.getElementById('category_block2');
		var section22 = document.getElementById('meat_container');

		if(linkSection10 && section10 && section20) {
			linkSection10.addEventListener('click', function(event) {
				event.preventDefault(); 
				section10.style.display = 'none'; // 表示スタイルに応じて変更
				section11.style.display = 'none';
				section12.style.display = 'none';
				section13.style.display = 'none';
				section20.style.display = '';
				section21.style.display = '';
				section22.style.display = '';
			});
		}

		if(linkSection20 && section10 && section20) {
			linkSection20.addEventListener('click', function(event) {
			event.preventDefault();
			section10.style.display = '';
			section11.style.display = '';
			section12.style.display = '';
			section20.style.display = 'none';
			section21.style.display = 'none';
			});
		}
	});
 </script>
 <script>
	//カテゴリー選択
	document.addEventListener('DOMContentLoaded', function() {
		var linkSection10 = document.getElementById('category1');
		var linkSection20 = document.getElementById('category2');

		var section10 = document.getElementById('display1_2');
		var section20 = document.getElementById('display1');

		if(linkSection10 && section10 && section20) {
			linkSection10.addEventListener('click', function(event) {
				event.preventDefault(); 
				section10.style.display = 'none'; // 表示スタイルに応じて変更
				section20.style.display = '';
			});
		}

		if(linkSection20 && section10 && section20) {
			linkSection20.addEventListener('click', function(event) {
			event.preventDefault();
			section10.style.display = '';
			section20.style.display = 'none'; // 表示スタイルに応じて変更
			});
		}
	});
 </script>
 <script>
	//カテゴリー選択
	document.addEventListener('DOMContentLoaded', function() {
		var linkSection10 = document.getElementById('category1_2');
		var linkSection20 = document.getElementById('category2_2');

		var section10 = document.getElementById('meat_container');
		var section20 = document.getElementById('vegitable_container');

		if(linkSection10 && section10 && section20) {
			linkSection10.addEventListener('click', function(event) {
				event.preventDefault(); 
				section10.style.display = 'none'; // 表示スタイルに応じて変更
				section20.style.display = '';
			});
		}

		if(linkSection20 && section10 && section20) {
			linkSection20.addEventListener('click', function(event) {
			event.preventDefault();
			section10.style.display = '';
			section20.style.display = 'none'; // 表示スタイルに応じて変更
			});
		}
	});
 </script>

</body>
</html>
