<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>企業・ビジネス向け シンプル無料ホームページテンプレート tp_biz61</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="home">

<div id="container">

<header>
<h1 id="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/top.png') }}" class ="top_pic" alt="SAMPLE COMPANY"></a></h1>
	<!--開閉ブロック-->
	<div id="menubar">
	<nav>
	<ul>
	<li class="current"><a href="{{ url_for('index') }}">HOME</a></li> 
	<li><a href="{{ url_for('foods') }}">FOODS</a></li>
	<li><a href="{{ url_for('main_nutrition') }}">HELTH</a>
		<ul>
		<li><a href="works.html">HELTH.HELTH.</a></li>
		<li><a href="works.html">WORKS</a></li>
		<li><a href="works.html">WORKS</a></li>
		</ul>
	</li>
	<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
	<li><a href="{{ url_for('Login') }}">CONTACT</a></li>
	</ul>
	</nav>
	</div>
	<!--/#menubar-->
</header>

<!--スライドショー-->
<div id="mainimg-box">
<div id="mainimg"></div>
</div>


<main>
	<section class="main_section">
		<div class="Todays_lunch">
			<img src="{{ url_for('static', filename='images/4.jpeg') }}"  class ="opening_pic">
		</div>	

		<div class="upload_place">
			<form id="upload-form" enctype="multipart/form-data">
				<input type="file" id="image-upload" name="image" accept="image/*" required>
				<button type="submit">画像をアップロード</button>
			</form>
			<div id="image-container" style="position: relative;">
				<div id="class-name"></div>
				<img id="uploaded-image" style="width: 30%; height: auto;">
			</div>
			  <!--Jsを使って処理を定義-->
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			  <script>
				let ingredient_id;
				$(document).ready(function() {
				  $('#upload-form').on('submit', function(e) {
					e.preventDefault();
					const formData = new FormData(this);
					$.ajax({
					  url: '/upload',
					  type: 'POST',
					  data: formData,
					  contentType: false,
					  processData: false,
					  success: function(response) {
						ingredient_id = response.ingredient_id; // responseからingredient_idを取得
						if(response.image_url) {
						  $('#uploaded-image').attr('src', response.image_url);
						  if(response.class_name) {
							$('#class-name').text(response.class_name);
						  }
						  if ($('#image-container').find('.recipe_button').length === 0) {
							$('#image-container').append('<button class="recipe_button">レシピを検索</button>');
						  }
						}
					  },
					  error: function(error) {
						console.log('Error:', error);
					  }
					});
				  });
			  
				  // イベント委譲を使用して、動的に追加されたボタンにイベントハンドラを設定
				  $(document).on('click', '.recipe_button', function() {
					console.log('レシピ検索ボタンがクリックされました。');
					$('.recipe_section').empty();
					// サーバーにAjaxリクエストを送信
					$.ajax({
					  url: '/get-recipes', // サーバーのレシピを取得するルート
					  type: 'POST',
					  contentType: 'application/json',
					  data: JSON.stringify({ 'ingredient_id': ingredient_id }), // リクエストボディにingredient_idを含める
					  dataType: 'json',
					  success: function(recipes) {
						// 成功した場合の処理
						console.log(recipes);
						recipes.forEach(function(recipe) {
							// 'https'で始まるURLかどうかをチェックし、画像パスを適切に設定
							if (recipe.ImageURL.startsWith('https')) {
								imageUrl = recipe.ImageURL;
							} else {
								imageUrl = `static/images/recipe/${recipe.ImageURL}`;
							}
							const recipeCardHtml = `
							<a href="/recipe-details/${recipe.RecipeID}" class="recipe-link">
								<div class="recipe-card">
									<img src="${imageUrl}" alt="${recipe.RecipeName}" class="recipe-image">
									<div class="recipe-content">
										<h2 class="recipe-title">${recipe.RecipeName}</h2>
										<p class="recipe-description">${recipe.Description}</p>
									</div>
								</div>
							</a>
							`;
							// 新しいレシピカードをrecipe_sectionに追加します。
							$('.recipe_section').append(recipeCardHtml);
						});					
					  },
					  error: function(error) {
						// エラーが発生した場合の処理
						console.error('Error fetching recipes:', error);
					  }
					});
				  });
				});
			  </script>	  
		</div>
		<section class="recipe_section">
			<!-- カードがここに追加される -->
		</section>
		
	</section>
	
	
	
	
</main>


	



	





<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--スライドショー（slick）-->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{url_for('static' , filename='js/slick.js') }}"></script>

<!--スライドショー（vegas）-->
<script>
    var imagePaths = {
        image1: '{{ url_for("static", filename="images/1.jpg") }}',
        image2: '{{ url_for("static", filename="images/2.jpg") }}',
        image3: '{{ url_for("static", filename="images/3.jpg") }}',
    };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
<script src="{{url_for('static' , filename='js/vegas.js') }}"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{{url_for('static' , filename='js/main.js') }}"></script>

</body>
</html>
