<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
    <title>Firebase Authentication</title>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
</head>
<body>
    <main>
        <!-- FirebaseUI認証コンテナ -->
        <div id="firebaseui-auth-container"></div>
    </main>

    <script>
        // Firebaseの設定
        var firebaseConfig = {
            apiKey: "AIzaSyD8aV--jbu877Xv_1pIlaXnbyEz6TCmyXA",
            authDomain: "pdproject-3df2c.firebaseapp.com",
            projectId: "pdproject-3df2c",
            storageBucket: "pdproject-3df2c.appspot.com",
            messagingSenderId: "1019548338817",
            appId: "1:1019548338817:web:0566f23ddf9bd270659b80",
            measurementId: "G-X16QFGDGKC"
        };

        // Firebaseの初期化
        firebase.initializeApp(firebaseConfig);

        // FirebaseUIの初期化
        var ui = new firebaseui.auth.AuthUI(firebase.auth());

        // FirebaseUIの設定
        var uiConfig = {
            signInOptions: [
                firebase.auth.EmailAuthProvider.PROVIDER_ID,
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                firebase.auth.FacebookAuthProvider.PROVIDER_ID, // Facebookプロバイダー
                firebase.auth.TwitterAuthProvider.PROVIDER_ID, // Twitterプロバイダー
                firebase.auth.PhoneAuthProvider.PROVIDER_ID // 電話番号プロバイダー
                // 他の認証プロバイダーを追加
            ],
            signInSuccessUrl: '/home'
        };

        // FirebaseUIを起動
        ui.start('#firebaseui-auth-container', uiConfig);
    </script>

    <!--jQueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--lightbox用jsファイルの読み込み-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.js"></script>
    <script src="{{url_for('static' , filename='js/vegas.js') }}"></script>

    <!--このテンプレート専用のスクリプト-->
    <script src="{{url_for('static' , filename='js/main.js') }}"></script>
</body>
</html>
