<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <h1 class = "head_rogo">
                ナビクック
            </h1>
        </div>
    </header>
    <main>
        <div>
            <div >
                <dt class = "mail_tagu">メールアドレス</dt>
            </div>
            <dd class = "mail">
                <input type="email" name="example1" class="large-input">
            </dd>
        </div>
        <div>
            <div class>
                <dt class = "password_tagu">パスワード</dt>
            </div>
            <dd class = "password">
                <input type="password" name="example1" class="large-input">
            </dd>
        </div>
        <div class = "sainin">
            <button >サインイン</button>
        </div>
        <div class = "new_one">
            <button>新規会員登録はこちらから</button>
        </div>

    </main>
</body>
</html>