<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pd.css')}}">
</head>
<body>
    <header>
        <div class="top_b_set">
            <form action="/Login">
                <button type="submit" class="top_button">ログイン</button>
            </form>
            <button class="top_button">会員登録</button>
        </div>
    </header>
    <main>
        <section class="top_section">
            <div class="top_page">
                <img src="{{ url_for('static', filename='images/back.png') }}" class ="back_pic">
                <div class="left_container">
                    <img src="{{ url_for('static', filename='images/catch.png') }}" class ="top_pic">
                    <form action="/Login">
                        <button type="submit" class="start_button">今すぐ無料で始める！</button>
                    </form>
                </div>
                <img src="{{ url_for('static', filename='images/image.png') }}" class ="top_pic2">
            </div>
            <div class="top_bottom">
                    <h1 class="topic_title">navicookが使われる理由</h1>
                    <p>navicookを使えば、忙しい日常生活の中で健康と経済の両面で利益を享受できます。</p>
                    <div class="topic_block">
                        <div class="topic_container">
                            <img src="{{ url_for('static', filename='images/time.png') }}" class ="topic_pic">
                            <h1>時間節約</h1>
                            <p>写真を撮るだけで食材を即座に認識。面倒な入力作業は必要ありません。</p>
                        </div>
                        <div class="topic_container">
                            <img src="{{ url_for('static', filename='images/cost.png') }}" class ="topic_pic2">
                            <h1>食費節約</h1>
                            <p>食材の消費期限を把握し、期限切れ前に活用できるレシピを提案。食品の廃棄を削減し、経済的にもメリットがあります。</p>
                        </div>
                        <div class="topic_container">
                            <img src="{{ url_for('static', filename='images/health.png') }}" class ="topic_pic3">
                            <h1>健康管理</h1>
                            <p>栄養バランスを考慮した食事提案により、健康的な食生活をサポートします。</p>
                        </div>
                        <div class="topic_container">
                            <img src="{{ url_for('static', filename='images/shopping.png') }}" class ="topic_pic4">
                            <h1>買い物効率</h1>
                            <p>必要な食材のリストを作成し、買い忘れを防ぎます。効率的な買い物で時間を節約し、生活をより豊かにします。</p>
                        </div>
                    </div>
            </div>
        </section>
        <section>
            <div class="service">

            </div>
        </section>
    </main>
</body>
</html>