<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>企業・ビジネス向け シンプル無料ホームページテンプレート tp_biz61</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/recipe_details.css')}}">
</head>

<body>

<div id="container">

<header>
	<h1 id="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/top.png') }}" class ="top_pic" alt="SAMPLE COMPANY"></a></h1>
	<!--開閉ブロック-->
	<div id="menubar">
	<nav>
	<ul>
	<li><a href="index.html">HOME</a></li>
	<li><a href="company.html">COMPANY</a></li>
	<li class="current"><a href="">WORKS</a>
		<ul>
		<li><a href="works.html">WORKS.WORKS.</a></li>
		<li><a href="works.html">WORKS</a></li>
		<li><a href="works.html">WORKS</a></li>
		</ul>
	</li>
	<li><a href="contact.html">CONTACT</a></li>
	</ul>
	</nav>
	</div>
	<!--/#menubar-->
</header>
<main>
	<section class="recipe_details">
		<div class="top_block">
			<div class="left_block">
				<h1>{{ recipe.RecipeName }}</h1>
				<hr>
				<p>{{ recipe.Description }}</p>
				<div class="timer">
					<div class="timer-body">
						<span class="timer-time">{{ recipe.CookingTime }}min</span>
					</div>
					<div class="timer-top"></div>
				</div>
			</div>
			<div class="pic_block">
				{% if recipe.ImageURL.startswith('https') %}
					<img src="{{ recipe.ImageURL }}" alt="{{ recipe.RecipeName }}" class="">
				{% else %}
					<img src="{{ url_for('static', filename='images/recipe/' + recipe.ImageURL) }}" alt="{{ recipe.RecipeName }}" class="">
				{% endif %}
			</div>
		</div>
		<div class="Cook_item">
			<div class="sub_title"><h2>材料</h2></div>
			<div class="Cookitem_block">
				{% set ingredients = recipe.Ingredients.split(',') %}
				{% for ingredient in ingredients %}
					{# 新しい<ul>タグを4要素ごとに開始 #}
					{% if loop.index0 % 4 == 0 %}
						{% if not loop.first %}</ul>{% endif %}
						<ul>
					{% endif %}
			
					<li>{{ ingredient.strip() }}</li>
			
					{# 最後の要素であれば閉じる<ul>タグを追加 #}
					{% if loop.last %}
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="Instruction">
			<div class="sub_title"><h2>手順</h2></div>
			<div class="Cookitem_block">
				{% set instructions = recipe.Instructions.split(',') %}
				<ul>
					{% for instruction in instructions %}
						<li>{{ instruction.strip() }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>

</main>


<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{{url_for('static' , filename='js/main.js') }}"></script>

</body>
</html>
