<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/recipe.css')}}">
    <title>料理の作り方</title>
</head>
<body>
    <header>
        <h1 id="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/top.png') }}" class ="top_pic" alt="SAMPLE COMPANY"></a></h1>
            <!--開閉ブロック-->
            <div id="menubar">
            <nav>
            <ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li> 
            <li class="current"><a href="{{ url_for('foods') }}">FOODS</a></li>
            <li><a href="{{ url_for('main_nutrition') }}">HELTH</a>
                <ul>
                <li><a href="{{ url_for('main_nutrition') }}">HELTH.HELTH.</a></li>
                <li><a href="{{ url_for('main_nutrition') }}">WORKS</a></li>
                <li><a href="{{ url_for('main_nutrition') }}">WORKS</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            </ul>
            </nav>
            </div>
            <!--/#menubar-->
        </header>

    <main>
        <div class="r_container">
            <div class="r_content">
                <h2 class="long-line">料理名</h2>
                <p class="description">ここに説明文を追加</p>
            </div>
            <div class="r_content">
                <img src="pasuta.png" alt="料理のイメージ" style="max-width: 350px; max-height: 400px;">
            </div>
        </div>
        <p class="title_p">材料（1人前）</p>
        <ul>
            <li>トマト</li>
            <li>ピーマン</li>
            <li>たまねぎ</li>
            <li>にんにく</li>
        </ul>
        <p class="title_p">作り方</p>
        <ol>
            <li>お</li>
            <li>え</li>
            <li>う</li>
            <li>い</li>
            <li>あ</li>
        </ol>
    </main>

    <footer>
        &copy; クックナビ
    </footer>
</body>
</html>