<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/recipe.css')}}">
    <title>料理の作り方</title>
</head>
<body>
    <header>
        <div class="header-flex">
            <h1>ナビクック</h1>
            <h2><a href="{{ url_for('tempates', filename='login.html') }}">ログイン</a></h2>
        </div>
    </header>

    <main>
        <div class="r_container">
            <div class="r_content">
                <h2 class="long-line">料理名</h2>
                <p class="description">ここに説明文を追加</p>
            </div>
            <div class="r_content">
                <img src="pasuta.png" alt="料理のイメージ" style="max-width: 350px; max-height: 400px;">
            </div>
        </div>
        <p class="title_p">材料（1人前）</p>
        <ul>
            <li>トマト</li>
            <li>ピーマン</li>
            <li>たまねぎ</li>
            <li>にんにく</li>
        </ul>
        <p class="title_p">作り方</p>
        <ol>
            <li>お</li>
            <li>え</li>
            <li>う</li>
            <li>い</li>
            <li>あ</li>
        </ol>
    </main>

    <footer>
        &copy; クックナビ
    </footer>
</body>
</html>