<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>企業・ビジネス向け シンプル無料ホームページテンプレート tp_biz61</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vegas/2.5.4/vegas.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/recipe_details.css')}}">
</head>

<body>

<div id="container">

	<header>
		<h1 id="logo"><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/top.png') }}" class ="top_pic" alt="SAMPLE COMPANY"></a></h1>
			<!--開閉ブロック-->
			<div id="menubar">
			<nav>
			<ul>
			<li><a href="{{ url_for('main.index') }}">HOME</a></li> 
			<li class="current"><a href="{{ url_for('foods.foods') }}">FOODS</a></li>
			<li><a href="{{ url_for('main.main_nutrition') }}">HELTH</a>
				<ul>
				<li><a href="{{ url_for('main.main_nutrition') }}">HELTH.HELTH.</a></li>
				<li><a href="{{ url_for('main.main_nutrition') }}">WORKS</a></li>
				<li><a href="{{ url_for('main.main_nutrition') }}">WORKS</a></li>
				</ul>
			</li>
			<li><a href="{{ url_for('main.contact') }}">CONTACT</a></li>
			<li><a href="{{ url_for('main.logout') }}">LOGOUT</a></li>
			</ul>
			</nav>
			</div>
			<!--/#menubar-->
		</header>
<main>
	<section class="recipe_details">
		<div class="top_block">
			<div class="left_block">
				<h1>{{ recipe.RecipeName }}</h1>
				<hr>
				<p>{{ recipe.Description }}</p>
				<div class="timer">
					<div class="timer-body">
						<span class="timer-time">{{ recipe.CookingTime }}min</span>
					</div>
					<div class="timer-top"></div>
				</div>
			</div>
			<div class="pic_block">
				{% if recipe.ImageURL.startswith('https') %}
					<img src="{{ recipe.ImageURL }}" alt="{{ recipe.RecipeName }}" class="">
				{% else %}
					<img src="{{ url_for('static', filename='images/recipe/' + recipe.ImageURL) }}" alt="{{ recipe.RecipeName }}" class="">
				{% endif %}
			</div>
		</div>
		<div class="Cook_item">
			<div class="sub_title"><h2>材料</h2></div>
			<div class="Cookitem_block">
				{% set ingredients = recipe.Ingredients.split(',') %}
				{% set column_size = (ingredients | length / 3) | round(0, 'ceil') %}
				{% for ingredient in ingredients %}
					{# 新しい<ul>タグを4要素ごとに開始 #}
					{% if loop.index0 % column_size == 0 %}
						{% if not loop.first %}</ul>{% endif %}
						<ul>
					{% endif %}
			
					<li>{{ ingredient.strip() }}</li>
			
					{# 最後の要素であれば閉じる<ul>タグを追加 #}
					{% if loop.last %}
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="Instruction">
			<div class="sub_title"><h2>手順</h2></div>
			<div class="Cookitem_block">
				{% set instructions = recipe.Instructions.split(',') %}
				<ul>
					{% for instruction in instructions %}
						<li>{{ loop.index }}: {{ instruction.strip() }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>	
		<div class="under_container">
			<div class="nutrition_info_container">
				<div class="sub_title"><h2>栄養情報</h2></div>
				<div class="Cookitem_block">
					<ul>
						<li>エネルギー　　{{ recipe.Calorie  }}kcal</li>
						<li>塩分　　　　　{{ recipe.Salt }}g</li>
						<li>タンパク質　　{{ recipe.Protein }}g</li>
						<li>野菜摂取量　　{{ recipe.VegetableIntake  }}g</li>
					</ul>
				</div>
			</div>
			<a><div id="fixed-button2" class="button1"><div>完成</div></div></a>
		</div>	
	</section>

</main>


<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE COMPANY</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</div>
<!--/#container-->

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="{{url_for('static' , filename='js/main.js') }}"></script>

<script>
	document.getElementById('fixed-button2').addEventListener('click', function() {
		console.log('Button clicked');

		// レシピデータをJSON形式に変換
		var recipeData = {
			RecipeName: "{{ recipe.RecipeName }}",
			Description: "{{ recipe.Description }}",
			CookingTime: "{{ recipe.CookingTime }}",
			ImageURL: "{{ recipe.ImageURL }}",
			Ingredients: "{{ recipe.Ingredients }}",
			Instructions: "{{ recipe.Instructions }}",
			Calorie: "{{ recipe.Calorie }}",
			Salt: "{{ recipe.Salt }}",
			Protein: "{{ recipe.Protein }}",
			VegetableIntake: "{{ recipe.VegetableIntake }}",
			ChangedUnit:"{{recipe.ChangedUnit}}"
		};

		// Ajaxリクエストを使ってサーバーにデータを送信
		fetch('/nutririon', { // ここにはサーバーのエンドポイントURLを設定
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(recipeData)
		})
		.then(response => response.json())
		.then(data => {
			console.log('Success:', data);
		})
		.catch((error) => {
			console.error('Error:', error);
		});
	});
</script>


</body>
</html>
